body {
    font-family: "Roboto"; san-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* #region nav */
.header-logo, .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.nav-link, .logo-part {
    color: #2e2f42;
}

.footer-logo {
    color: #f4f4fd;
}

.header-logo {
    margin-right: 76px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

/* #endregion nav */

.contacts {
    font-style: normal;
}

.contacts-links {
    color: #434455;
}

.contacts-links:hover,
.contacts-links:focus {
    color: #404bbf;
}

/* #region hero */
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/* #endregion hero */

/* #region section-benefits */
.benefits-title,
.our-team-title,
.portfolio-title,
.benefits-item-title,
.our-team-item-title,
.portfolio-item-title {
color: #2e2f42;
}

.benefits-title,
.our-team-title,
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.benefits-item-title,
.our-team-item-title,
.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.contacts-links,
.benefits-item-text,
.our-team-item-text,
.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion section-benefits */
/*  #region our team */
.our-team {
    background-color: #f4f4fd;
}

/*  #endregion our team */
/* #region footer */
.hero,
.page-footer {
    background-color: #2e2f42;
}

.page-footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/* #endregion footer */